.placeorder{
    margin-top: 100px;
    
    
}
#photo{
       background-image:url("../img/pic4.jpg");
height:500px;
width:100%;
}
#time{
    margin-top: 100px;
}
#he{
    height: 30px;
    width: auto;
    color:black;
    font-size: medium;
}
.order{
    
    color:black;
    margin-left: 100px;

}
/* #on{
    margin-top: 200px;
} */