.contactstyle{
    margin-top:85px;
}
.form11{
    margin-top: 10px;
   background-image: url('./img/contactus.jpg');
   background-size:68%;
}
.form12{
    margin-top: 10px;
   /* background-image: linear-gradient(pink,rgb(7, 78, 110),red,); */
   border: 2px solid rgb(230, 227, 227);
   background-size:68%;
}
label
{
font-size: 20px;
margin-left:20px;
width:170px;
text-align:left;
display:inline-block;
}
#formcon
{
    font-size:15px;
    border-radius:10px;
    padding:10px 7px;
    width:300px;
    text-align:left;
}
#conbtn{
    width:100px;
    border-radius: 50px;
    font-size:20px;
    text-align: center;
    
}
#conbtnn{
    width:100px;
    border-radius: 50px;
    font-size:20px;
    text-align: center;
    margin-left:200px;
}

