#ca{
    margin-top: 100px;
    /* background-image: url('./img/bs.jpg'); */
    height:100px;
    width:200px;
    background-color:green;
    color:white;
    font-size: xx-large;
}
#da{
    margin-top: 100px;
    /* background-image: url('./img/ns.jpg'); */
    height:100px;
    width:200px;
    background-color:red;
    color:white;
    font-size: xx-large;
}


.app{
    margin-top: 150px;
}