#ma{
    margin-top: 100px;
    background-image: url('./img/bs.jpg');
    height:450px;
    width:520px;
}
#wa{
    margin-top: 100px;
    background-image: url('./img/ns.jpg');
    height:450px;
    width:520px;
}